NEXT_PUBLIC_SUPABASE_URL=https://bkzwusidzhnvhecpqnth.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrend1c2lkemhudmhlY3BxbnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MTc3MjQsImV4cCI6MjA5MjE5MzcyNH0.DEpnZzvD5RUK4Y88rE2bFqYyxn2LxopekbVUJzaXVUs
